<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nesh Dashboard</title>

    <link data-th-href="@{/webjars/bulma/0.6.0/css/bulma.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <script data-th-src="@{/webjars/timeago.js/3.0.0/dist/timeago.js}"></script>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Nesh Dashboard
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome To Nesh!!!</h1>
    </div>
</section>
</body>
</html>